services:
  swompi-runner:
    build: .
    env_file: "./.env" 
    volumes:
      - shared_data:/app/swompi/shared_data
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp:/tmp
    ports:
      - "25851:25851"
    depends_on:
      - database
      - garage

  database:
    image: postgres:17
    volumes:
        - database:/var/lib/postgresql/data
    env_file: "./.env" 
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d postgres'"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s

  garage:
    image: orlovchik/garage:1
    entrypoint: /usr/local/bin/init_garage.sh
    restart: always
    volumes:
      - garage_storage:/var/lib/garage
      - shared_data:/data
      - garage_config:/etc/
    healthcheck:
      test: ["CMD-SHELL", "/garage json-api GetClusterHealth | grep '\"status\": \"healthy\"'"]
      interval: 60s
      timeout: 10s
      retries: 10
      start_period: 60s

volumes:
  database:
  garage_storage:
  shared_data:
  garage_config: