services:
  swompi-runner:
    build:
      context: ./src/swompi
      dockerfile: Dockerfile
    env_file: "./.env" 
    depends_on:
      - database
      - garage

  database:
    image: postgres:17
    volumes:
        - database:/var/lib/postgresql/data
        - ./database:/docker-entrypoint-initdb.d/
    env_file: "./.env" 
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U postgres -d hotels_db'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  garage:
    image: dxflrs/garage:v2.1.0
    restart: unless-stopped
    volumes:
      - ./garage.toml:/etc/garage.toml
      - /var/lib/garage/meta:/var/lib/garage/meta
      - /var/lib/garage/data:/var/lib/garage/data
    healthcheck:
      test: ["CMD-SHELL", "/garage json-api GetClusterHealth | grep '\"status\": \"healthy\"'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  nginx:
    image: nginx:1.29-alpine
    container_name: nginx
    ports:
      - "25851:25851"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  database: